//Aqui se especifica arquivos e diretórios que devem ser ignorados no controle de versão, como configurações de ambiente de trabalho e armazenamento de dados locais.
# Default ignored files
/shelf/
/workspace.xml
# Editor-based HTTP Client requests
/httpRequests/
# Datasource local storage ignored files
/dataSources/
/dataSources.local.xml
